body {
    background-color: gray;
}

#title, .subtitle, .post-title{
    color: blue;
}

.post-title{
    font-size: 16px;
    font-style: italic;
    margin: 0px;
    margin-bottom: 15px;
}

.post {
    background-color: white;
    padding: 15px;
    border: 3px solid black;
    margin-bottom: 15px;
    
}
.post-content{
    margin: 0px;
    margin-bottom: 15px;
}